# PANDAS - TRATAMIENTO DE NULOS

## TRABAJO CON NULOS

Los nulos son datos faltantes o información perdida.

Las causas de que existan nulos en un set de datos pueden ser diversas, entre las posibles fuentes se pueden nombrar:

- En el origen de la información: formularios con inputs no obligatorios.

- Falta de sincronicidad.

- Manipulación de los datos.

## Ejercicio 1.0

Siempre comenzamos importando e instalando las librerías

In [2]:
!pip install Pandas==2.2.2

Requirement already satisfied: Pandas==2.2.2 in c:\users\jag\appdata\local\programs\python\python311\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in c:\users\jag\appdata\local\programs\python\python311\lib\site-packages (from Pandas==2.2.2) (1.25.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\jag\appdata\roaming\python\python311\site-packages (from Pandas==2.2.2) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\jag\appdata\local\programs\python\python311\lib\site-packages (from Pandas==2.2.2) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\jag\appdata\local\programs\python\python311\lib\site-packages (from Pandas==2.2.2) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\jag\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->Pandas==2.2.2) (1.16.0)

In [3]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\jag\appdata\local\programs\python\python311\lib\site-packages (1.25.2)

In [4]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
   ---------------------------------------- 0.0/250.0 kB ? eta -:--:--
   ------ --------------------------------- 41.0/250.0 kB 1.9 MB/s eta 0:00:01
   ------------------- -------------------- 122.9/250.0 kB 1.8 MB/s eta 0:00:01
   ---------------------------------------- 250.0/250.0 kB 1.9 MB/s eta 0:00:00
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

In [5]:
!pip install pyarrow

Collecting pyarrow
  Downloading pyarrow-16.0.0-cp311-cp311-win_amd64.whl.metadata (3.1 kB)
Requirement already satisfied: numpy>=1.16.6 in c:\users\jag\appdata\local\programs\python\python311\lib\site-packages (from pyarrow) (1.25.2)
Downloading pyarrow-16.0.0-cp311-cp311-win_amd64.whl (25.9 MB)
   ---------------------------------------- 0.0/25.9 MB ? eta -:--:--
   ---------------------------------------- 0.2/25.9 MB 3.5 MB/s eta 0:00:08
   ---------------------------------------- 0.2/25.9 MB 3.0 MB/s eta 0:00:09
    --------------------------------------- 0.6/25.9 MB 4.8 MB/s eta 0:00:06
   - -------------------------------------- 0.7/25.9 MB 4.3 MB/s eta 0:00:06
   - -------------------------------------- 1.0/25.9 MB 4.8 MB/s eta 0:00:06
   -- ------------------------------------- 1.3/25.9 MB 4.9 MB/s eta 0:00:06
   -- ------------------------------------- 1.5/25.9 MB 5.4 MB/s eta 0:00:05
   --- ------------------------------------ 2.0/25.9 MB 5.7 MB/s eta 0:00:05
   --- ------------------------------------ 2.1/25.9 MB 5.5 MB/s eta 0:00:05
   --- ------------------------------------ 2.1/25.9 MB 5.5 MB/s eta 0:00:05
   --- ------------------------------------ 2.1/25.9 MB 5.5 MB/s eta 0:00:05
   --- ------------------------------------ 2.1/25.9 MB 5.5 MB/s eta 0:00:05
   --- ------------------------------------ 2.1/25.9 MB 5.5 MB/s eta 0:00:05
   --- ------------------------------------ 2.1/25.9 MB 5.5 MB/s eta 0:00:05
   --- ------------------------------------ 2.1/25.9 MB 5.5 MB/s eta 0:00:05
   --- ------------------------------------ 2.1/25.9 MB 5.5 MB/s eta 0:00:05
   --- ------------------------------------ 2.1/25.9 MB 5.5 MB/s eta 0:00:05
   --- ------------------------------------ 2.1/25.9 MB 5.5 MB/s eta 0:00:05
   --- ------------------------------------ 2.1/25.9 MB 5.5 MB/s eta 0:00:05
   --- ------------------------------------ 2.1/25.9 MB 5.5 MB/s eta 0:00:05
   --- ------------------------------------ 2.1/25.9 MB 5.5 MB/s eta 0:00:05
   --- ------------------------------------ 2.1/25.9 MB 5.5 MB/s eta 0:00:05
   --- ------------------------------------ 2.2/25.9 MB 2.2 MB/s eta 0:00:11
   --- ------------------------------------ 2.3/25.9 MB 2.2 MB/s eta 0:00:11
   --- ------------------------------------ 2.4/25.9 MB 2.2 MB/s eta 0:00:11
   --- ------------------------------------ 2.5/25.9 MB 2.2 MB/s eta 0:00:11
   ---- ----------------------------------- 2.7/25.9 MB 2.3 MB/s eta 0:00:11
   ---- ----------------------------------- 2.8/25.9 MB 2.3 MB/s eta 0:00:11
   ---- ----------------------------------- 2.8/25.9 MB 2.3 MB/s eta 0:00:11
   ---- ----------------------------------- 2.9/25.9 MB 2.2 MB/s eta 0:00:11
   ---- ----------------------------------- 3.1/25.9 MB 2.3 MB/s eta 0:00:10
   ---- ----------------------------------- 3.2/25.9 MB 2.3 MB/s eta 0:00:10
   ----- ---------------------------------- 3.4/25.9 MB 2.3 MB/s eta 0:00:10
   ----- ---------------------------------- 3.6/25.9 MB 2.4 MB/s eta 0:00:10
   ----- ---------------------------------- 3.8/25.9 MB 2.5 MB/s eta 0:00:09
   ------ --------------------------------- 4.0/25.9 MB 2.6 MB/s eta 0:00:09
   ------ --------------------------------- 4.2/25.9 MB 2.6 MB/s eta 0:00:09
   ------ --------------------------------- 4.4/25.9 MB 2.7 MB/s eta 0:00:09
   ------- -------------------------------- 4.6/25.9 MB 2.7 MB/s eta 0:00:08
   ------- -------------------------------- 4.6/25.9 MB 2.6 MB/s eta 0:00:09
   ------- -------------------------------- 4.8/25.9 MB 2.6 MB/s eta 0:00:09
   ------- -------------------------------- 4.9/25.9 MB 2.6 MB/s eta 0:00:09
   ------- -------------------------------- 4.9/25.9 MB 2.6 MB/s eta 0:00:09
   ------- -------------------------------- 5.1/25.9 MB 2.6 MB/s eta 0:00:08
   -------- ------------------------------- 5.3/25.9 MB 2.7 MB/s eta 0:00:08
   -------- ------------------------------- 5.3/25.9 MB 2.6 MB/s eta 0:00:08
   -------- ------------------------------- 5.5/25.9 MB 2.6 MB/s eta 0:00:08
   -------- ------------------------------- 5.7/25.9 MB 2.7 MB/s eta 0:00:08
   -------- ------------------------------- 5.7/25.9 MB 2.7 MB/s eta 0:00:08
   --------- ------------------------------ 5.8/25.9 MB 2.6 MB/s eta 0:00:08
   --------- ------------------------------ 6.0/25.9 MB 2.7 MB/s eta 0:00:08
   --------- ------------------------------ 6.3/25.9 MB 2.7 MB/s eta 0:00:08
   ---------- ----------------------------- 6.6/25.9 MB 2.8 MB/s eta 0:00:07
   ---------- ----------------------------- 6.8/25.9 MB 2.8 MB/s eta 0:00:07
   ----------- ---------------------------- 7.1/25.9 MB 2.9 MB/s eta 0:00:07
   ----------- ---------------------------- 7.3/25.9 MB 2.9 MB/s eta 0:00:07
   ------------ --------------------------- 7.8/25.9 MB 3.0 MB/s eta 0:00:06
   ------------ --------------------------- 8.0/25.9 MB 3.1 MB/s eta 0:00:06
   ------------- -------------------------- 8.5/25.9 MB 3.2 MB/s eta 0:00:06
   ------------- -------------------------- 8.7/25.9 MB 3.2 MB/s eta 0:00:06
   -------------- ------------------------- 9.2/25.9 MB 3.3 MB/s eta 0:00:05
   -------------- ------------------------- 9.7/25.9 MB 3.4 MB/s eta 0:00:05
   --------------- ------------------------ 9.9/25.9 MB 3.4 MB/s eta 0:00:05
   --------------- ------------------------ 10.3/25.9 MB 3.6 MB/s eta 0:00:05
   ---------------- ----------------------- 10.9/25.9 MB 3.6 MB/s eta 0:00:05
   ----------------- ---------------------- 11.1/25.9 MB 3.6 MB/s eta 0:00:05
   ----------------- ---------------------- 11.6/25.9 MB 3.7 MB/s eta 0:00:04
   ------------------ --------------------- 12.0/25.9 MB 3.7 MB/s eta 0:00:04
   ------------------- -------------------- 12.4/25.9 MB 4.7 MB/s eta 0:00:03
   ------------------- -------------------- 12.9/25.9 MB 5.0 MB/s eta 0:00:03
   -------------------- ------------------- 13.1/25.9 MB 5.1 MB/s eta 0:00:03
   --------------------- ------------------ 13.6/25.9 MB 5.5 MB/s eta 0:00:03
   --------------------- ------------------ 14.1/25.9 MB 5.6 MB/s eta 0:00:03
   ---------------------- ----------------- 14.4/25.9 MB 5.7 MB/s eta 0:00:03
   ---------------------- ----------------- 14.9/25.9 MB 6.0 MB/s eta 0:00:02
   ----------------------- ---------------- 15.2/25.9 MB 6.4 MB/s eta 0:00:02
   ------------------------ --------------- 15.6/25.9 MB 6.8 MB/s eta 0:00:02
   ------------------------ --------------- 15.9/25.9 MB 7.0 MB/s eta 0:00:02
   ------------------------- -------------- 16.3/25.9 MB 7.5 MB/s eta 0:00:02
   ------------------------- -------------- 16.5/25.9 MB 7.4 MB/s eta 0:00:02
   ------------------------- -------------- 16.7/25.9 MB 7.4 MB/s eta 0:00:02
   -------------------------- ------------- 17.1/25.9 MB 7.5 MB/s eta 0:00:02
   --------------------------- ------------ 17.6/25.9 MB 7.9 MB/s eta 0:00:02
   --------------------------- ------------ 17.9/25.9 MB 7.9 MB/s eta 0:00:02
   ---------------------------- ----------- 18.4/25.9 MB 8.1 MB/s eta 0:00:01
   ---------------------------- ----------- 18.6/25.9 MB 8.1 MB/s eta 0:00:01
   ----------------------------- ---------- 19.2/25.9 MB 8.2 MB/s eta 0:00:01
   ------------------------------ --------- 19.6/25.9 MB 8.1 MB/s eta 0:00:01
   ------------------------------- -------- 20.1/25.9 MB 8.1 MB/s eta 0:00:01
   ------------------------------- -------- 20.3/25.9 MB 8.1 MB/s eta 0:00:01
   ------------------------------- -------- 20.7/25.9 MB 8.2 MB/s eta 0:00:01
   -------------------------------- ------- 20.9/25.9 MB 8.0 MB/s eta 0:00:01
   -------------------------------- ------- 21.2/25.9 MB 8.1 MB/s eta 0:00:01
   --------------------------------- ------ 21.5/25.9 MB 7.9 MB/s eta 0:00:01
   --------------------------------- ------ 21.8/25.9 MB 7.9 MB/s eta 0:00:01
   ---------------------------------- ----- 22.2/25.9 MB 7.8 MB/s eta 0:00:01
   ---------------------------------- ----- 22.6/25.9 MB 7.9 MB/s eta 0:00:01
   ----------------------------------- ---- 22.9/25.9 MB 7.9 MB/s eta 0:00:01
   ------------------------------------ --- 23.4/25.9 MB 8.1 MB/s eta 0:00:01
   ------------------------------------ --- 23.8/25.9 MB 8.0 MB/s eta 0:00:01
   ------------------------------------- -- 24.3/25.9 MB 8.0 MB/s eta 0:00:01
   -------------------------------------- - 24.8/25.9 MB 8.1 MB/s eta 0:00:01
   -------------------------------------- - 25.1/25.9 MB 8.0 MB/s eta 0:00:01
   ---------------------------------------  25.5/25.9 MB 8.1 MB/s eta 0:00:01
   ---------------------------------------  25.9/25.9 MB 8.1 MB/s eta 0:00:01
   ---------------------------------------  25.9/25.9 MB 8.1 MB/s eta 0:00:01
   ---------------------------------------  25.9/25.9 MB 8.1 MB/s eta 0:00:01
   ---------------------------------------  25.9/25.9 MB 8.1 MB/s eta 0:00:01
   ---------------------------------------  25.9/25.9 MB 8.1 MB/s eta 0:00:01
   ---------------------------------------- 25.9/25.9 MB 7.0 MB/s eta 0:00:00
Installing collected packages: pyarrow
Successfully installed pyarrow-16.0.0

In [6]:
!pip install fastparquet

Collecting fastparquet
  Downloading fastparquet-2024.2.0-cp311-cp311-win_amd64.whl.metadata (4.2 kB)
Requirement already satisfied: pandas>=1.5.0 in c:\users\jag\appdata\local\programs\python\python311\lib\site-packages (from fastparquet) (2.2.2)
Requirement already satisfied: numpy>=1.20.3 in c:\users\jag\appdata\local\programs\python\python311\lib\site-packages (from fastparquet) (1.25.2)
Collecting cramjam>=2.3 (from fastparquet)
  Downloading cramjam-2.8.3-cp311-none-win_amd64.whl.metadata (4.3 kB)
Collecting fsspec (from fastparquet)
  Downloading fsspec-2024.3.1-py3-none-any.whl.metadata (6.8 kB)
Requirement already satisfied: packaging in c:\users\jag\appdata\roaming\python\python311\site-packages (from fastparquet) (23.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\jag\appdata\roaming\python\python311\site-packages (from pandas>=1.5.0->fastparquet) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\jag\appdata\local\programs\python\python311\lib\site-packages (from pandas>=1.5.0->fastparquet) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\jag\appdata\local\programs\python\python311\lib\site-packages (from pandas>=1.5.0->fastparquet) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\jag\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas>=1.5.0->fastparquet) (1.16.0)
Downloading fastparquet-2024.2.0-cp311-cp311-win_amd64.whl (670 kB)
   ---------------------------------------- 0.0/670.5 kB ? eta -:--:--
   ------ --------------------------------- 112.6/670.5 kB 3.3 MB/s eta 0:00:01
   ------------------ --------------------- 307.2/670.5 kB 3.8 MB/s eta 0:00:01
   ---------------------------------- ----- 583.7/670.5 kB 4.6 MB/s eta 0:00:01
   ---------------------------------------- 670.5/670.5 kB 4.2 MB/s eta 0:00:00
Downloading cramjam-2.8.3-cp311-none-win_amd64.whl (1.6 MB)
   ---------------------------------------- 0.0/1.6 MB ? eta -:--:--
   ------ --------------------------------- 0.3/1.6 MB 7.9 MB/s eta 0:00:01
   ------------ --------------------------- 0.5/1.6 MB 6.4 MB/s eta 0:00:01
   ------------------- -------------------- 0.8/1.6 MB 7.3 MB/s eta 0:00:01
   ------------------------ --------------- 1.0/1.6 MB 6.4 MB/s eta 0:00:01
   --------------------------- ------------ 1.1/1.6 MB 5.6 MB/s eta 0:00:01
   ----------------------------------- ---- 1.5/1.6 MB 6.2 MB/s eta 0:00:01
   ---------------------------------------  1.6/1.6 MB 5.8 MB/s eta 0:00:01
   ---------------------------------------- 1.6/1.6 MB 5.2 MB/s eta 0:00:00
Downloading fsspec-2024.3.1-py3-none-any.whl (171 kB)
   ---------------------------------------- 0.0/172.0 kB ? eta -:--:--
   --------------------------------------- 172.0/172.0 kB 10.8 MB/s eta 0:00:00
Installing collected packages: fsspec, cramjam, fastparquet
Successfully installed cramjam-2.8.3 fastparquet-2024.2.0 fsspec-2024.3.1

In [7]:
!pip install lxml

Collecting lxml
  Downloading lxml-5.2.1-cp311-cp311-win_amd64.whl.metadata (3.5 kB)
Downloading lxml-5.2.1-cp311-cp311-win_amd64.whl (3.8 MB)
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/3.8 MB 640.0 kB/s eta 0:00:06
    --------------------------------------- 0.1/3.8 MB 544.7 kB/s eta 0:00:07
    --------------------------------------- 0.1/3.8 MB 544.7 kB/s eta 0:00:07
    --------------------------------------- 0.1/3.8 MB 544.7 kB/s eta 0:00:07
    --------------------------------------- 0.1/3.8 MB 544.7 kB/s eta 0:00:07
    --------------------------------------- 0.1/3.8 MB 544.7 kB/s eta 0:00:07
    --------------------------------------- 0.1/3.8 MB 544.7 kB/s eta 0:00:07
    --------------------------------------- 0.1/3.8 MB 218.5 kB/s eta 0:00:18
   - -------------------------------------- 0.2/3.8 MB 364.0 kB/s eta 0:00:11
   -- ------------------------------------- 0.3/3.8 MB 542.5 kB/s eta 0:00:07
   --- ------------------------------------ 0.4/3.8 MB 674.7 kB/s eta 0:00:06
   ---- ----------------------------------- 0.5/3.8 MB 782.1 kB/s eta 0:00:05
   ----- ---------------------------------- 0.6/3.8 MB 906.5 kB/s eta 0:00:04
   ------- -------------------------------- 0.7/3.8 MB 1.1 MB/s eta 0:00:03
   -------- ------------------------------- 0.8/3.8 MB 1.2 MB/s eta 0:00:03
   ---------- ----------------------------- 1.0/3.8 MB 1.4 MB/s eta 0:00:03
   ------------ --------------------------- 1.2/3.8 MB 1.5 MB/s eta 0:00:02
   ------------- -------------------------- 1.3/3.8 MB 1.5 MB/s eta 0:00:02
   --------------- ------------------------ 1.5/3.8 MB 1.7 MB/s eta 0:00:02
   ----------------- ---------------------- 1.6/3.8 MB 1.8 MB/s eta 0:00:02
   ------------------- -------------------- 1.8/3.8 MB 1.9 MB/s eta 0:00:02
   -------------------- ------------------- 1.9/3.8 MB 2.0 MB/s eta 0:00:01
   ---------------------- ----------------- 2.1/3.8 MB 2.0 MB/s eta 0:00:01
   ----------------------- ---------------- 2.3/3.8 MB 2.1 MB/s eta 0:00:01
   ------------------------ --------------- 2.3/3.8 MB 2.1 MB/s eta 0:00:01
   -------------------------- ------------- 2.5/3.8 MB 2.1 MB/s eta 0:00:01
   --------------------------- ------------ 2.6/3.8 MB 2.1 MB/s eta 0:00:01
   ---------------------------- ----------- 2.8/3.8 MB 2.2 MB/s eta 0:00:01
   ------------------------------ --------- 2.9/3.8 MB 2.2 MB/s eta 0:00:01
   -------------------------------- ------- 3.1/3.8 MB 2.3 MB/s eta 0:00:01
   --------------------------------- ------ 3.2/3.8 MB 2.3 MB/s eta 0:00:01
   ---------------------------------- ----- 3.3/3.8 MB 2.3 MB/s eta 0:00:01
   ------------------------------------ --- 3.5/3.8 MB 2.3 MB/s eta 0:00:01
   ------------------------------------- -- 3.6/3.8 MB 2.3 MB/s eta 0:00:01
   ---------------------------------------  3.7/3.8 MB 2.4 MB/s eta 0:00:01
   ---------------------------------------  3.8/3.8 MB 2.4 MB/s eta 0:00:01
   ---------------------------------------- 3.8/3.8 MB 2.3 MB/s eta 0:00:00
Installing collected packages: lxml
Successfully installed lxml-5.2.1

In [8]:
import numpy as np
import pandas as pd
import json 
import os

## Ejercicio 1.1

Vamos a crear un DataFrame para ver las opciones disponibles con Pandas para trabajar con nulos.

In [17]:
semana = pd.date_range(start='2024-04-08', end='2024-04-14')

#creo el DataFrame
df_resumen_ventas = pd.DataFrame(
    data = {
        "clientes":[10,np.nan,12,16,20,np.nan,14],#primer columna
        "pedidos":[4,2,14,10,1,10,12],#segunda columna
        "ingresos":[np.nan,20000,4500,7000,np.nan,5900,12000]#tercer columna
    },
    index=semana)#los dias como índices
df_resumen_ventas

            clientes  pedidos  ingresos
2024-04-08      10.0        4       NaN
2024-04-09       NaN        2   20000.0
2024-04-10      12.0       14    4500.0
2024-04-11      16.0       10    7000.0
2024-04-12      20.0        1       NaN
2024-04-13       NaN       10    5900.0
2024-04-14      14.0       12   12000.0

Vamos a identificar la cantidad de nulos y dónde están ubicados.

In [10]:
df_resumen_ventas.isnull() #transforma el dataframe a undataframe booleano, True(es nulo) False (no nulo)

            clientes  pedidos  ingresos
2024-04-08     False    False      True
2024-04-09      True    False     False
2024-04-10     False    False     False
2024-04-11     False    False     False
2024-04-12     False    False      True
2024-04-13      True    False     False
2024-04-14     False    False     False

In [11]:
df_resumen_ventas.isnull().sum() #cuenta la cantidad de nulos por columna

clientes    2
pedidos     0
ingresos    2
dtype: int64

¿Qué medidas puedo tomar para tarabajar con nulos?

1. Eliminación
2. Rellenar o completar los nulos

## Eliminación

Una medida drástica que podemos tomar es la eliminación de cualquier FILA o COLUMNA con nulos

### Ejercicio 1.2

In [14]:
#crea un nuevo DataFrame en donde se han eliminado todas las FILAS con nulos.
df_resumen_ventas.dropna()

            clientes  pedidos  ingresos
2024-04-10      12.0       14    4500.0
2024-04-11      16.0       10    7000.0
2024-04-14      14.0       12   12000.0

Si la cantidad de nulos no supera el 5%, el archivo no sufrirá cambios al eliminar las filas

### Ejercicio 1.3

In [16]:
#crea un nuevo DataFrame en donde se han eliminado todas las fila COLUMNAS con nulos.
df_resumen_ventas.dropna(axis=1)

            pedidos
2024-04-08        4
2024-04-09        2
2024-04-10       14
2024-04-11       10
2024-04-12        1
2024-04-13       10
2024-04-14       12

## RELLENAR O COMPLETAR NULOS

In [18]:
df_resumen_ventas

            clientes  pedidos  ingresos
2024-04-08      10.0        4       NaN
2024-04-09       NaN        2   20000.0
2024-04-10      12.0       14    4500.0
2024-04-11      16.0       10    7000.0
2024-04-12      20.0        1       NaN
2024-04-13       NaN       10    5900.0
2024-04-14      14.0       12   12000.0

### Ejercicio 1.4

In [19]:
df_resumen_ventas.fillna(0) #vamos a rellenar los nulos con el valor 0

            clientes  pedidos  ingresos
2024-04-08      10.0        4       0.0
2024-04-09       0.0        2   20000.0
2024-04-10      12.0       14    4500.0
2024-04-11      16.0       10    7000.0
2024-04-12      20.0        1       0.0
2024-04-13       0.0       10    5900.0
2024-04-14      14.0       12   12000.0

Reemplazar los nulos afectan las métricas que obtengamos

In [20]:
df_resumen_ventas.describe() #sin rellenar con 0

        clientes    pedidos      ingresos
count   5.000000   7.000000      5.000000
mean   14.400000   7.571429   9880.000000
std     3.847077   5.159365   6324.318145
min    10.000000   1.000000   4500.000000
25%    12.000000   3.000000   5900.000000
50%    14.000000  10.000000   7000.000000
75%    16.000000  11.000000  12000.000000
max    20.000000  14.000000  20000.000000

In [21]:
df_resumen_ventas.fillna(0).describe() #rellenado con 0

        clientes    pedidos      ingresos
count   7.000000   7.000000      7.000000
mean   10.285714   7.571429   7057.142857
std     7.696629   5.159365   7064.431363
min     0.000000   1.000000      0.000000
25%     5.000000   3.000000   2250.000000
50%    12.000000  10.000000   5900.000000
75%    15.000000  11.000000   9500.000000
max    20.000000  14.000000  20000.000000

### Ejercicio 1.5

In [23]:
df_resumen_ventas.mean()

clientes      14.400000
pedidos        7.571429
ingresos    9880.000000
dtype: float64

In [24]:
df_resumen_ventas.fillna(df_resumen_ventas.mean()) #rellnamos los nulos con la media (mean)

            clientes  pedidos  ingresos
2024-04-08      10.0        4    9880.0
2024-04-09      14.4        2   20000.0
2024-04-10      12.0       14    4500.0
2024-04-11      16.0       10    7000.0
2024-04-12      20.0        1    9880.0
2024-04-13      14.4       10    5900.0
2024-04-14      14.0       12   12000.0

Veamos las métricas

In [26]:
df_resumen_ventas.describe() #antes de rellenar

        clientes    pedidos      ingresos
count   5.000000   7.000000      5.000000
mean   14.400000   7.571429   9880.000000
std     3.847077   5.159365   6324.318145
min    10.000000   1.000000   4500.000000
25%    12.000000   3.000000   5900.000000
50%    14.000000  10.000000   7000.000000
75%    16.000000  11.000000  12000.000000
max    20.000000  14.000000  20000.000000

In [27]:
df_resumen_ventas.fillna(df_resumen_ventas.mean()).describe() #despues de rellenar

        clientes    pedidos      ingresos
count   7.000000   7.000000      7.000000
mean   14.400000   7.571429   9880.000000
std     3.141125   5.159365   5163.784142
min    10.000000   1.000000   4500.000000
25%    13.000000   3.000000   6450.000000
50%    14.400000  10.000000   9880.000000
75%    15.200000  11.000000  10940.000000
max    20.000000  14.000000  20000.000000