# PANDAS

Librería especializada en la manipulación y el análisis de datos.

Permite trabajar con datos estructurados (organizados en tablas).

En Pandas hay dos objetos:

- Serie: estructura de una dimensión
- Dataframe: estructura de dos dimensiones (tablas)

La mayoría de los métodos y funciones son compatibles entre series y dataframes.

Asimismo, nos permite trabajar con diferentes tipos de archivos (.csv, .txt, .xlsx, .json) como así también leer archivos que se encuentran en la web.

## Ejercicio 1.0

Instalamos e importamos la librería.

In [28]:
%pip install pandas

Requirement already satisfied: pandas in c:\users\jag\appdata\local\programs\python\python311\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in c:\users\jag\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.25.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\jag\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\jag\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\jag\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\jag\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [29]:
!python.exe -m pip install --upgrade pip

Requirement already satisfied: pip in c:\users\jag\appdata\local\programs\python\python311\lib\site-packages (24.0)

In [30]:
#especificamos la versión a instalar
%pip install pandas==2.2.2

Requirement already satisfied: pandas==2.2.2 in c:\users\jag\appdata\local\programs\python\python311\lib\site-packages (2.2.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.23.2 in c:\users\jag\appdata\local\programs\python\python311\lib\site-packages (from pandas==2.2.2) (1.25.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\jag\appdata\roaming\python\python311\site-packages (from pandas==2.2.2) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\jag\appdata\local\programs\python\python311\lib\site-packages (from pandas==2.2.2) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\jag\appdata\local\programs\python\python311\lib\site-packages (from pandas==2.2.2) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\jag\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas==2.2.2) (1.16.0)

In [31]:
import pandas as pd #importamos la librería con el alias ps
import numpy as np #importamos la librería numpy con el alias np

## SERIES

Las series nos permiten reprensentar informacion en forma de columnas.

info: https://pandas.pydata.org/docs/reference/series.html

### Ejercicio 1.1

Creación de series.

`pd.Serie()`

La serie quedará formada de la siguiente manera:

_Indice_de_la_fila     Valor_

[datos]

_Tipo de dato_

In [32]:
lista_numerica = [1, 3, 10, 22] #creo una lista numérica

serie_numerica = pd.Series(lista_numerica) #la convierto en una serie


print(lista_numerica)
print("-----------------")
#indice_de_fila  valor
#tipo de dato
print(serie_numerica)

[1, 3, 10, 22]
-----------------
0     1
1     3
2    10
3    22
dtype: int64

In [33]:
lista_colores = ["blanco", "rojo", "azul", "rosa"]
serie_colores = pd.Series(lista_colores)
print(serie_colores)

0    blanco
1      rojo
2      azul
3      rosa
dtype: object

In [34]:
lista_booleana = [True, False, True, True, False]
serie_booleana = pd.Series(lista_booleana)
print(serie_booleana)

0     True
1    False
2     True
3     True
4    False
dtype: bool

In [35]:
array = np.array([1, 5, 10, 33, 100])

serie_array = pd.Series(array) #de array de numpy a serie de pandas
print(serie_array)

0      1
1      5
2     10
3     33
4    100
dtype: int32

### Ejercicio 1.2

Cuando creo una serie puedo castear el tipo de dato en una sola linea de código.

In [36]:
lista_dni = [1111111, 12345678, 34567890, 45678123]

serie_dni = pd.Series(lista_dni, dtype="string")
print(serie_dni)

0     1111111
1    12345678
2    34567890
3    45678123
dtype: string

In [37]:
serie_bool = pd.Series([True, False, True, True, False], dtype="boolean")
print(serie_bool)

0     True
1    False
2     True
3     True
4    False
dtype: boolean

### Ejercicio 1.3

Puedo indicar el índice a una serie.

`index`

In [38]:
lista_alumnos = ["sebastian", "sofia", "miguel", "florencia", "victor"]
lista_nota_final = [10, 9, 3, 5, 6]

serie_nota_alumnos = pd.Series(lista_nota_final, index=lista_alumnos) #los indices representan info (un id)
print(serie_nota_alumnos)

sebastian    10
sofia         9
miguel        3
florencia     5
victor        6
dtype: int64

In [39]:
lista_matricula_pago = [True, True, False, False, True]
serie_matricula_alumnos = pd.Series(lista_matricula_pago, index=lista_alumnos)
print(serie_matricula_alumnos)

sebastian     True
sofia         True
miguel       False
florencia    False
victor        True
dtype: bool

### Ejercicio 1.4

Podemos extraer la información de un diccionario y convertirlo en una Serie.

In [40]:
diccionario_salario = {
    "andres" : 1000,
    "sofia" : 7420,
    "miguel" : 2940,
    "victor" : 7480,
    "melina": 6514
}

serie_salarios = pd.Series(diccionario_salario, name="Salarios empleados")
print(serie_salarios)

andres    1000
sofia     7420
miguel    2940
victor    7480
melina    6514
Name: Salarios empleados, dtype: int64

### Ejercicio 1.5

Series a partir de números random.

In [41]:
rng = np.random.default_rng() #se crea una serie con números aleatorios

In [42]:
print(rng)

Generator(PCG64)

In [49]:
lista_alumnos = ["sebastian", "sofia", "miguel", "florencia", "victor", "eva", "macarena", "pedro", "estevan", "sonia"]

serie_promedios = pd.Series(data=rng.integers(1, 11, len(lista_alumnos)),index=lista_alumnos, name="Promedio alumnos") #rng.integers(valor_min, valor_max, tamaño)

In [50]:
print(serie_promedios)

sebastian     9
sofia         6
miguel        9
florencia     8
victor        2
eva          10
macarena      4
pedro         9
estevan      10
sonia         2
Name: Promedio alumnos, dtype: int64

## METODOS Y FUNCIONES EN SERIES

### Ejercicio 1.6

Si queremos ver el tamaño de una serie

`len(nombre_serie)`

In [52]:
len(serie_promedios) #cantidad de elementos totales, se basa en las apariciones de índices

10

Si queremos ver la cantidad de elementos de una serie (no nulos)

`nombre_serie.count()`

In [53]:
serie_promedios.count() #contar la cantidad de elementos

10